#featured-drink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto; 
}

body {
    background-color: rgba(235, 190, 155, .25);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}
.collapsible-body{
    background-color: white;
    padding: .25rem;
}

.row{
    margin: 0.25rem;
}

.input-field.col label {
    left: .75rem;
}

input[type=range] {
    margin-top: 2.25rem;
    /* padding-top: 2rem; */
}

.show-drink {
    cursor: pointer;
}

footer{
    text-align: center;
<<<<<<< HEAD
    padding: .25rem;
}

.modal.bottom-sheet{
    max-height: 95%; 
=======
>>>>>>> aa698d5c8958003a13f7fbb1f39f2e3295f0c6b3
}