#featured-drink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto; 
}

.container{
    background-color: khaki
}

.collapsible-body{
    background-color: white;
    padding: 5px;
}

.row{
    margin: 5px;
}

.input-field.col label {
    left: .75rem;
}

input[type=range] {
    margin-top: 2.25rem;
    /* padding-top: 2rem; */
}